@using Microsoft.AspNetCore.Mvc.Localization
@model Auth.Web.UI.Quickstart.Account.ChangePasswordViewModel
@inject IViewLocalizer Localizer
@{
    ViewBag.Title = Localizer["ChangePassword"];
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    ViewData["Title"] = "My Super Company";
}


@using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <h1 class="page-title">@ViewBag.Title</h1>
    <br />

    @Html.ValidationSummary("", new { @class = "text-danger" })

    @Html.HiddenFor(model => model.UserId)

    <div class="form-group">
        @Html.LabelFor(m => m.CurrentPassword, new { @class = "col-md-4 control-label" })
        <div class="col-md-8">
            @Html.PasswordFor(m => m.CurrentPassword, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-4 control-label" })
        <div class="col-md-8">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-4 control-label" })
        <div class="col-md-8">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" id="sbmtBtn" class="btn btn-primary pull-right" value="@Localizer["Create"]" />
        </div>
    </div>
}

@section Scripts {
    <script src="~/lib/jquery.validate.min.js"></script>

    <script>
        $(function () {
            function updateState() {
                var isVisible = $('#Password').val().length > 0 && $('#ConfirmPassword').val().length > 0;
                $("#sbmtBtn").prop('disabled', !isVisible);
            }

            $('#Password,#ConfirmPassword').on('input', updateState);
            updateState();
        });
    </script>
}

